.filter-section {
  grid-column: 1/2;
  padding-right: 50px;
  @media screen and (max-width: 620px) {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 70vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    transition: all $reveal-duration ease-in-out;
    background-color: white;
    z-index: $zFilter;
    padding: 36px;
  }
  .filter-type {
    width: 100%;
    &:nth-of-type(1) {
      border-bottom: 1px solid $border-color;
    }
    &:nth-of-type(2) {
      margin-top: 40px;
    }
    .title-container {
      display: flex;
      h2 {
        @media screen and (max-width: 620px) {
          font-size: 34px;
        }
      }
      .remove-button {
        display: none;
        margin-left: auto;
        @media screen and (max-width: 620px) {
          display: inline-block;
        }
      }
    }
    ul {
      li {
        margin: 40px 0;
        display: flex;
        align-items: center;
        .checkbox-container {
          position: relative;
          label {
            position: relative;
            cursor: pointer;
            opacity: 0.4;
            display: block;
            width: 23px;
            height: 23px;
            border: 1px solid black;
            &:after {
              position: absolute;
              content: "";
              opacity: 0;
              display: block;
              width: 6px;
              height: 12px;
              border-right: 3px solid black;
              border-bottom: 3px solid black;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%) rotateZ(40deg);
            }
            &:hover {
              opacity: 1;
            }
          }
          input {
            opacity: 0;
            height: 0;
            width: 0;
            position: absolute;
            &:checked {
              + label:after {
                opacity: 1;
              }
              + label {
                opacity: 1;
              }
            }
          }
        }
        p {
          margin-left: 20px;
          color: black;
        }
      }
    }
  }
}
.filter-reveal {
  visibility: visible;
  opacity: 1;
  transform: translateY(-100%);
}

//BUTTONS IN MOBILE USE

.action-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 1px solid $border-color;
  z-index: $zCart;
  visibility: hidden;
  opacity: 0;
  transition: all $reveal-duration ease-in-out;
  button {
    width: 177px;
    height: 48px;
    margin: 0 10px;
    font-size: 23px;
  }
}
.action-container-reveal {
  visibility: visible;
  opacity: 1;
}
